<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender"
    fileName="sem6.log" filePattern="sem6-%d{yyyy-MM-dd}-%i.log">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>sem6-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>4</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.github.sem2mqtt" level="DEBUG"/>
  <root level="ERROR">
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFile"/>
  </root>
</configuration>